body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
  color: #000;
}

.container {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.container > div {
  padding: 20px;
}

.cabecera{
  background-color: #5b7989;
  border-radius: 10px 10px 0;
  text-align: center;
  vertical-align: middle;
  color: #f6f6f6;
}

.cabecera h1{
  text-shadow: 2px 2px #02010a;
}

nav a{
  text-decoration: underline;
  color: #f6f6f6;
}

.active{
  text-decoration: none;
}

.footer div{
  width: 100%;
}
.footer{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
}

.footer a{
  text-decoration: none;
  color: #000;
}

.imgefecto {
  -webkit-box-shadow: 2px 2px 5px #02010a;
  -moz-box-shadow: 2px 2px 5px #02010a;
  box-shadow: 2px 2px 5px #02010a;
}

@media (min-width: 900px) {
  .container{
    margin: 0 auto;
    width: 900px
  }

  .footer div{
    width: 25%;
  }

}
