body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
  color: #f6f6f6;
}

.container {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.container > div {
  padding: 20px;
}

.cabecera{
  background-color: #5b7989;
  border-radius: 10px 10px 0;
  text-align: center;
  vertical-align: middle;
}

.cabecera h1{
  text-shadow: 2px 2px #02010a;
}

.central{
  background-color: #82c3a6;
}
.central img{
  width: 100%;
  height: 100%
}

.secundaria{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  flex-flow: row wrap;
  background-color: #d5c75f;
  text-align: center;
}
.secundaria img{
  width: 100%;
  height: 100%;
  margin: 10px 0px;
}

nav a{
  text-decoration: underline;
  color: #f6f6f6;
}

.active{
  text-decoration: none;
}

/*nav, .footer, .cabecera, .central, .secundaria {
  width: 100%;
}*/

.footer div{
  width: 100%;
}
.footer{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
}

.imgefecto {
  -webkit-box-shadow: 2px 2px 5px #02010a;
  -moz-box-shadow: 2px 2px 5px #02010a;
  box-shadow: 2px 2px 5px #02010a;
}

#imgIzq:hover{
  transform: rotate(10deg);
  -webkit-box-shadow: 2px 2px 5px #82c3a6;
  -moz-box-shadow: 2px 2px 5px #82c3a6;
  box-shadow: 2px 2px #82c3a6;
}

#imgDer:hover{
  transform: translate(20px,5px);
  -webkit-box-shadow: 2px 2px 5px #82c3a6;
  -moz-box-shadow: 2px 2px 5px #82c3a6;
  box-shadow: 2px 2px 5px #82c3a6;
}

@media (min-width: 900px) {
  .container{
    margin: 0 auto;
    width: 900px
  }

  .secundaria img{
    width: 50%;
  }

  .footer div{
    width: 25%;
  }

}
